*{
  margin: 0;
  padding: 0;
}

.game-area {
  margin: 50px auto;
  position: relative;
  width: 600px;
  height: 600px;
  min-height: 500px;
  min-width: 500px;
  border: 15px solid #9fadf9;
    overflow: hidden;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #0350a0;
  border: 1px solid #0350a0;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #ff0059;
  border: 1px solid #ff0059;
  z-index: 1;
}

.score-area {
  position: relative;
  margin: auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.score{
  margin: 20px;
  background-color: #3f51b580;
  padding: 20px;
}

.game-area-info{
  position: absolute;
  top: 50%;
  height: 100px;
  margin-top: -50px;
  margin-left: 50px;
  backdrop-filter: blur(2px);
}

.options{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #3f51b580 ;
}